*{
	padding:0;
	margin:0;	
}
html,body{
	height:100%;
	box-sizing:border-box;
}
html{
	font-size:100%
}
body{
	font-size:1em;
}
.clear{
		clear:both;
	}
header{
	width:100%;
	height:4em;
	background-color:#000;
	position:fixed;
	font-family:微软雅黑;
	opacity:0.3;
	z-index:100;
}
header:before,header:after{
	content:'';
	display:table;
	clear:both;
}
header .left{
	display:block;
	height:100%;
	width:8em;
	float:left;
	line-height:4em;
	text-align:center;
}
header .left a{
	color:#fff;
	font-size:2em;
	text-decoration:none;
	transition:all 0.3s ease-in-out;
}
header .left a:hover{
	color:green;
}
header .right{
	display:block;
	float:right;
}
header .right ul{
	display:block;
	list-style:none;
	height:4em;
}
header .right ul li{
	display:block;
	float:left;
	height:4em;
	line-height:4em;
	margin-right:0.8em;
}
header .right ul li a{
	color:#fff;
	font-size:1.2em;
	text-decoration:none;
	transition:all 0.3s ease-in-out;
}
header .right ul li a:hover{
	color:green;
}
header .small_right{
	display:none;
}
header .small_nav{
	display:none;
}
/*--------------------------header end-----------------------------*/

.banner{
	width:100%;
	height:100%;
	background:url(../image/snow.jpg) no-repeat;
	background-size:cover;
	z-index:1;
	position:fixed;
}
/*-------------------------section1 end----------------------------*/

.join,.contact,.about{
	width:100%;
	height:50%;
	background-color: green;
	z-index:10;
	position:relative;
	top:100%;
}
.contact{
	background-color:#1CC8AE;
}
.about{
	background-color:#E57A31;
}

@media screen and (max-width:450px) {
	header .right{
		display:none;
	}
	header .small_right{
		display:block;
		height:3em;
		line-height:4em;
		float:right;
		color:#fff;
		margin-right:0.5em;
		margin-top:0.5em;
	}
	header .small_nav{
		display:block;
		height:0em;
		width:100%;
		opacity:0.3;
		transition:all 0.5s ease-in-out;
	}
	header .small_nav ul{
		display:block;
		height:100%;
		width:100%;
	}
	header .small_nav ul li{
		display:block;
		height:25%;
		width:100%;
		line-height:5em;
		text-align:center;
		color:#fff;
		border-top:0.1em solid #fff;
		background-color:#000;
	}
	header .small_nav ul li a{
		text-decoration:none;
		color:#fff;
	}
	.banner{
		background-position:-200px 0px;
	}
}